body {
    background-color: #f9e933;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1em;
}

header,
main,
footer {
    min-width: 855px;
}

header .container,
main .container,
footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: hidden;
}

main {
    background: white;
    overflow: hidden;
}

header h1 {
    float: left;
    width: 570px;
    font-size: 3em;
}

header nav {
    float: right;
    width: 285px;
}

main .description {
    float: left;
    width: 570px;
}

main .picture {
    float: right;
    width: 285px;
}

.lightbulb {
    float: right;
    width: 160px;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Ubuntu', sans-serif;
}

main h2 {
    line-height: 2em;
    font-size: 1.5em;
}

main h3 {
    line-height: 2em;
    font-size: 1.25em;
}

footer h5 {
    line-height: 3em;
    font-size: 1.25em;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 100px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a span.active {
    background: #eee;
}