body {
    background-color: #f9e933;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1em;
}

header,
main,
footer {
    min-width: 855px;
}

header .container,
main .container,
footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
}

main {
    background: white;
    overflow: auto;
}

header h1 {
    float: left;
    width: 570px;
    font-size: 3em;
}

header nav {
    float: right;
    width: 285px;
}

main .description {
    float: left;
    width: 570px;
}

main .picture {
    float: right;
    width: 285px;
}

.lightbulb {
    width: 160px;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Ubuntu', sans-serif;
}

main h2 {
    font-size: 1.5em;
}

main h3 {
    font-size: 1.25em;
}

footer h5 {
    font-size: 1.25em;
}