body {
    background-color: #f9e933;
}

header,
main,
footer {
    min-width: 855px;
}

header .container,
main .container,
footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
}

main {
    background: white;
    overflow: auto;
}

footer {}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

main .description {
    float: left;
    width: 570px;
}

main .picture {
    float: right;
    width: 285px;
}

.lightbulb {
    width: 160px;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}